<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="container">
        <h1> <%= title %> </h1>

        <fieldset>
            <form action="/search-result" method="post">
                <input name="id" type="number" class="ghost-input" placeholder="Enter Student ID">
                <input name="name" type="text" class="ghost-input" placeholder="Enter Name">
                <input name="course" class="ghost-input" placeholder="Pick a course" list = "courses">
                    <datalist id="courses">
                        <option>B. Tech</option>
                        <option>M. S.</option>
                    </datalist>
                </select>
                <input type="submit" class="ghost-button" value="Search Directory">
            </form>
        </fieldset>

    </div>
</body>
