<head>
    <%- include( "include/header", {title: title}   ); %>
</head>

<body>
    <div class="container">
        <%- include( "include/top-page", {title: title, username: username} ); %>

<!-- 
        <div class="container">

                <div class="starter-template">
                  <h1>Welcome to Maverick University directory portal.</h1>
                  <p class="lead">Sign in to use the site.</p>
                </div>
          
        </div>--><!-- /.container -->
        <div class = "container">
        <% if(username !== "") { %>
        <fieldset>
            <form action="/search-result" method="post">
                <input name="id" type="text" class="ghost-input" placeholder="Enter Student ID">
                <input name="name" type="text" class="ghost-input" placeholder="Enter Name">
                <input name="course" class="ghost-input" placeholder="Pick a course" list = "courses">
                    <datalist id="courses">
                        <option>B. Tech</option>
                        <option>M. S.</option>
                    </datalist>
                </select>
                <!-- <input type="submit" class="ghost-button" value="Search Directory"> -->
                <input type="submit" class="btn btn-primary" value="Search Directory">
            </form>
        </fieldset>
    <% } else { %>
        <p> <a href="login/">Login</a> to use the directory.</p>

    <% } %>
        
    </div>        
    </div>
</body>
