<div class="row">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="/">Maverick directory</a>
            <ul id="nav-mobile" class="right hide-one-med-and-down">
                <!-- NAV BAR TEMPLATE -->
                <li class="active">
                    <% if( username === "" ) { %>
                    <a href="login">Login</a>
                    <% } else { %>
                    <a href="#"> <%= username %> </a>
                    <% } %>
                </li>
                <li class="active"><a href="search-result/">Search</a></li>
                <!-- Add logout link if logged in -->
                <% if( username !== "" ) { %>
                <li class="active"><a href="logout/">Logout</a></li>
                <% } %>
                <!-- NAV BAR TEMPLATE END -->
            </ul>
            <!-- </div>/.nav-collapse -->
        </div>
    </nav>
</div>

<!-- Move to the footer of each page. -->
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>